
/*CSS suuremale resole kui 1100px*/
@media screen and (min-width: 1100px) {

    body {
        padding: 0px;
        margin: 0px;
        background: linear-gradient(#d4d1d4, #ffffff)
    }

    h1 {
        font-family: serif;
        font-size: 50px;
        text-align: center;
        margin-right: 700px;
        margin-top: 30px;
    }

    .yleval {
        font-family: inherit;
        text-align: center;
        margin-right: 640px;
        margin-top: -40px;
    }

    div.banner {
        height: 150px;
        width: 100%;
        padding: 0;
    }

    div.main {
        display: block;
        background-color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 1100px;
        height: 800px;
    }

    div.navbar {
        display: none;
    }

    ul, li {
        display: inline-block;
    }

    div.kell {
        background-color: grey;
        color: white;
        width: 256px;
        height: 256px;
    }

    .pildike {
        border-bottom: solid 2px #eee;
        border-top: solid 2px #eee;

    }

    /* Hover styles */
    div#pop-up {
        display: none;
        position: absolute;
        width: 280px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
    }

    td {
        padding: 50px 0px 50px 0px;
        background-color: rgba(212, 209, 212, 0.41);
        text-align: center;
    }
    /*footer, copyright, logod
    ----------------------------*/
    div.jalg {
        text-align: center;
        display: block;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        background-color: #1a1a1a;
        height: 40px;
    }
    .cright {
        text-align: center;
        color: rgba(255, 255, 255, 0.35);
        position: relative;
        padding-top: 15px;
        font-family: arial;
        font-size: 12px;
    }
    .skype {
        width: 40px;
        float: right;
    }
    .fb {
        width: 32px;
        margin-top: 4px;
        float: right;
    }
}

<<<<<<< Updated upstream
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
=======

/*CSS Väiksemale resole kui 1100*/
@media screen and (max-width: 1100px) {
    body {
        padding: 0px;
        margin: 0px;
        background: linear-gradient(#d4d1d4, #ffffff)
    }
    .skype {
        width: 30px;
    }
    .fb {
        width: 30px;
    }

>>>>>>> Stashed changes
}